<h1 *ngIf="isAddMode">Add Employee</h1>
<h1 *ngIf="!isAddMode">Edit Employee</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrolValues.firstName.errors }" />
            <div *ngIf="submitted && formcontrolValues.firstName.errors" class="invalid-feedback">
                <div *ngIf="formcontrolValues.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrolValues.lastName.errors }" />
            <div *ngIf="submitted && formcontrolValues.lastName.errors" class="invalid-feedback">
                <div *ngIf="formcontrolValues.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrolValues.phoneNumber.errors }" />
            <div *ngIf="submitted && formcontrolValues.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="formcontrolValues.phoneNumber.errors.required">Phone Number is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrolValues.email.errors }" />
            <div *ngIf="submitted && formcontrolValues.email.errors" class="invalid-feedback">
                <div *ngIf="formcontrolValues.email.errors.required">Email is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrolValues.username.errors }" />
            <div *ngIf="submitted && formcontrolValues.username.errors" class="invalid-feedback">
                <div *ngIf="formcontrolValues.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group col" *ngIf="isAddMode">
            <label for="password">
                Password
            </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formcontrolValues.password.errors }" />
            <div *ngIf="submitted && formcontrolValues.password.errors" class="invalid-feedback">
                <div *ngIf="formcontrolValues.password.errors.required">Password is required</div>
                <div *ngIf="formcontrolValues.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>