<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="employee">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
    <div class="textcolor"> Employee: {{employee.firstName}}</div>
</nav>

<div class="app-container" [ngClass]="{ 'bg-light': employee }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

